{% extends "Unidad_Educativa.html" %}
{% block background %}{% load static %}{% static 'img/about-bg.jpg' %}{% endblock %}

{% block content %}
      <div class="container">
        <div class="col-md-8" style="margin-top: 70px;">

            <h2> CURSO </h2>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nivel</th>
                        <th>Paralelo</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for curso in curso %}
                        <tr>
                            <td>{{ curso.nivel }}</td>
                            <td>{{ curso.paralelo }}</td>


                            <td><a class="nav-link" href="{% url 'modificarcurso' curso.id  %}">Editar</a></td>
                            <td><a class="nav-link" href="{% url 'eliminarcurso' curso.id %}">Eliminar</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="nav-link" href="{% url 'crearcurso' %}">Crear Curso</a>


        </div>
    </div>
{% endblock %}