{% extends "Unidad_Educativa.html" %}

{% block background %}{% load static %}{% static 'img/profesores.jpeg' %}{% endblock %}

{% block content %}
    <h2> MISIÓN:</h2>
     <h2>   Somos una comunidad educativa que ofrece una educación con calidad y
            calidez donde prevalece la convivencia armónica y cultura de paz,
            basada en valores, autonomía, conservación del medio ambiente,
            protección de muestra integridad y equidad de genero;
            promoviendo en los educandos justicia, solidaridad e
            innovación para continuar en beneficio de la comunidad.</h2>
    <h2> VISIÓN:</h2>
     <h2>   Ser una institución con la comunidad educativa que reafirmara un servicio de
            calidad y calidez, con docentes con las nuevas estrategias
            de la educación fortaleciendo los valores de solidaridad, justicia e innovación,
            proyectados en la interculturalidad, el buen vivir y la diversidad;
            para lograr estudiantes seguros y protegidos, capaces de solucionar
            problemas de forma critica, reflexiva y autónoma;
            en un ambiente con espacios verdes, recreativos y con
            apoyo de los representantes.</h2>
{% endblock %}